ul.chat-messages li {
  list-style-type:none;
}

ul.chat-messages li:nth-child(odd) {
  text-align: left;
}

ul.chat-messages li:nth-child(even) {
  text-align: right;
}

.mic {
  height: 70px;
  cursor: pointer;
  align-items: center;
}

.chat-bot-modal {
  position: fixed;
  top: 0; 
  left: 0;
  z-index: 999;
  display: none;
  height: 100vh; 
  width: 100vw; 
  background-color: rgba(0,0,0,.6); 
  color: white; 
}

.chat-bot-modal.open {
  display: block;   
}

.chat-bot-wrapper {
  display: grid; 
  grid-template-columns: .75fr 1.5fr .75fr;
  grid-gap: 10px;
}

.chat-bot-wrapper .col {
  justify-content: center; 
  align-items: center; 
}

.chat-window {
  text-align: center; 
}
.chat-window input {
  width: 100%;
  line-height: 2.25rem;
  height: 2.25rem;
}

.chat-window button.chat-window-button {
  margin-top: .5rem;
  font-weight: 400; 
  text-align: center; 
  vertical-align: middle;
  height: 40px; 
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff; 
  background-color: #00b3be;
}

.chat-bot-button {
  position: fixed;
  bottom: 10px;
  right: 10px;  
  z-index: 1000;
  height: 60px; 
  width: 60px; 
  cursor: pointer;
  background-color: #00b3be; 
  border-radius: 50%;
  padding: 7.5px;
  box-shadow: 2px 3px 3px #888888;
}
.chat-bot-button > div svg path {
  fill: white;
}

.chat-bot-modal.open .chat-bot-button .question svg {
  display: none;
}
p.rambot svg {
  height: 50px;
}
